body{
    font-family: "Saira", sans-serif;
}
html {
    scroll-behavior: smooth;
}
.Hero{
    height: 100vh;
    background: url('../gallery/hero.jpeg') no-repeat center center/cover;
    position: relative;
}
.Hero::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.Hero.container{
    position: relative;
    z-index: 2;
}